body {
    margin: 0px;
    padding: 0px;
    /* background: url('bg.jpg'); */
    /* /* height: 1200px; */
    /* width: 1000px;  */
    color: aliceblue;
}

.left {
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    left: 34px;
    /* top: 20px; */
    width: 65px;
    height: 51px;
    cursor:default;

}
.left div {
    text-align: center;
    font-size: small
}
.left div:hover {
    font-size: 15px; 
    color: #d798ff;
    /* font :bold */
}

.mid {
    /* border: 2px solid rgb(0, 174, 255); */
    display: block;
    width: 36%;
    margin:auto;

}

.right {
    /* border: 2px solid rgb(0, 255, 119); */
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 3px;
}

.navbar {

    display: inline-block;
}

.navbar li a {
    color: aliceblue;
    text-decoration: none;
    /* margin: auto; */
    padding: 4px 5px;

}

.navbar li {
    display: inline-block;
    font-size: 16px;
    ;
}

.navbar li a:hover,
.navbar li a.active {
    color: #d798ff;
    text-decoration: underline;
    font-size: large; 

}
.left img{
    width: 58px;
    height: 26px;
    filter: invert();
    margin-left: 4px;
    margin-top: 4px
}
.btn{
    margin: opx 9px;
    color: #ffffff;
    background-color:transparent;
    border:none;
    padding: 18px 0px;
}
.btn:hover{
   /* background-color: #d798ff; */
   text-decoration: underline;
   color :#d798ff;
   font-size: large; 
   cursor: pointer;
}
 
.bgi{
    height: 601px;
    width: 1225px;
    z-index: -1;
    position: absolute;
    margin: 0px 0px;
    padding: 0px 0px;
}
.cont{
    border: 4px solid #d798ff;
    margin-top: 23px;
    margin-left: 34px;
    padding: 15px;
    width: 313px;
    height: 337px;
    border-radius: 13px;
}
.form{
    margin: 14px 2px;
    text-align: center;
    display: block
}
.form input{
    width: 222px;
    margin: 7px 2px;
}
#btt{
    position: absolute;
    left: 170px;
    top: 409px;
    /* background-color: black; */
}
.cont h3{
    text-align: center;
font-size:larger
;
}

